# 'Data Science Tools and Ecosystem!'

## 'In this notebook, Data Science Tools and Ecosystem are summarized.

# __ Some of the popular languages that Data Scientists use are:__
 1. Python
 2. SQL
 3. R

# Some of the commonly used libraries used by Data Scientists include:
- Panda
- Numpy
- Matplotlib
- Scikit-Learn
- TensorFlow

|  Data Science Tools  |
|----------------------|
|  Matplotlib  |
|  Jupyter Preject  |
|  Apache Spark  |
|  Tensor Flow  |

### Below are a few examples of evaluating arithmetic expressions in Python
- (12*44)+6
- (71-16)*2
- 12*4

**This a simple arithmetic expression to mutiply then add integers**

In [5]:
(3*4)+5

17

# This will convert 200 minutes to hours by dividing by 60
**Minutes = 200**

In [6]:
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List of the commonly used libraries used by Data Scientists
- Data Science ToolS and Ecosystem
- Arithmetic expressions

## Author
Swati Gangotri